{{ define "main" }}
    <main>
        {{ $contentExists := gt (len .Content) 0 }}
        {{ $blogPages := where .Site.RegularPages.ByDate.Reverse ".Type" "in" .Site.Params.mainSections }}
        {{ $blogPages = where $blogPages ".Params.draft" "!=" true }}
        {{ $showLatest := and (default true site.Params.showBlogLatest) $blogPages }}
        {{ $headlessExists := false }}

        {{ if $contentExists }}
            {{ .Content }}
        {{ else }}
            {{ with .Site.GetPage "/homepage" }}
            {{ $headlessExists = true }}
            <div class="headless-homepage">
                {{ range .Resources }}
                    <h2>
                    {{ .Title }}
                    </h2>
                    <p>{{ .Content }}</p>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}
        
        <div class = 'main_content'>
            <div class = 'main_post'>
                {{ if and (or $headlessExists $contentExists) $showLatest }}
                    {{ $blogLatest := default "Recent Posts" site.Params.blogLatestHeading }}
                    <h2 class="latest-blog-home">{{- $blogLatest -}}</h2>
                {{ end }}
                {{ if $showLatest }}
                    {{ with $blogPages }}
                        {{ range first (default 3 site.Params.nBlogLatest) . }}
                            {{- partial "blog-entry-summary" . -}}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
            <div class = 'main_poem'>
                {{ if and (or $headlessExists $contentExists) $showLatest }}
                    {{ $poemLatest := default "Recent Poems" site.Params.poemLatestHeading }}
                    <h2 class="latest-blog-home">{{- $poemLatest -}}</h2>
                {{ end }}
              <!-- Recent Poems -->
              {{ $pages := .Pages }}
              {{ $pages = .Site.RegularPages }}
              {{ $paginator := .Paginate (where $pages "Section" "==" "poems") 7 }}
                {{ range $paginator.Pages }}
                  <p>
                    <a href="{{ .RelPermalink }}">
                      <span class="recent-posts">{{ .Title | markdownify }}</span>
                    </a>
                  </p>
                {{ end }}
              <!-- end Recent Poems -->
            </div>
        </div>
    </main>
{{ end }}
